:root {
  --black: #222831;
  --red: #f05454;
  --navy: #30475e;
  --white: #e8e8e8;
  --ice: #9ddfd3;
  --shadow: rgba(0, 0, 0, 0.2);
  --liquid: rgba(0, 0, 0, 0);
  --green: #59886b;
  --border-top: rgba(0, 0, 0, 0.2);
  --blue: #07689f
}
